<form action="/api/productos" id="formulario" method="POST">
    <label>Titulo:
        <input type="text" name="title" placeholder="Titulo">
    </label>
    <label>Precio:
        <input type="number" name="price" placeholder="Precio">
    </label>
    <label>Foto:
        <input type="url" name="thumbnail" placeholder="Foto">
    </label>
    <input type="submit" value="Guardar Producto">
</form>

<span></span>