<h2 id="formularioTitle">Ingreso de Productos</h2>

<form id="formulario">
    <label for="">Titulo: 
        <input id="titulo" placeholder="Titulo" type="text" name="title" required/>

    </label>
    <label for="">Precio: 

        <input id="precio" placeholder="Precio" type="number" name="price" required/>
    </label>
    <label for="">Foto: 

        <input id="foto" placeholder="Foto" type="url" name="thumbnail" required/>
    </label>
    <input id="enviar-producto" type="submit" value="Guardar Producto" />
    <span></span>
</form>