<nav>
    <ul>
        <li><a href="#productosTitle">Vista Productos</a></li>
        <li><a href="#formularioTitle">Ingresar Producto</a></li>
        <li><a href="#mensajes-chat">Chat</a></li>
    </ul>
</nav>