<nav>
    {{#if noLogged}}
        <button><a href="/api/login">Login</a></button>
    {{else}}
        <ul>
            <li><a href="/api/productos">Productos</a></li>
            <li><a href="/api/">Chat</a></li>
        </ul>

    {{/if}}
</nav>