<main>

    {{> nav}}

    <h2>Ingreso de Productos</h2>

    <form id="formulario" action="/api/productos" method="POST">
        <label for="">Titulo: 
            <input placeholder="Titulo" type="text" name="title" />

        </label>
        <label for="">Precio: 

            <input placeholder="Precio" type="number" name="price" />
        </label>
        <label for="">Foto: 

            <input placeholder="Foto" type="url" name="thumbnail" />
        </label>
        <input type="submit" value="Guardar Producto" />
    </form>
    <span></span>

</main>

<script src="/index.js"></script>
