{{>nav}}
<main>


    <h2>Registrarse</h2>
    <section>
        <form id="registro-usuario">
            <label for="">Usuario: 
                <input id="username" placeholder="Usuario" type="text" name="username" required/>

            </label>
            <label for="">Contraseña: 
                <input id="password" placeholder="Contraseña" type="password" name="password" required/>
            </label>
            <input id="registrar" type="submit" value="Registrarse" />
            <span id="por-error"></span>
        </form>

    </section>
</main>
