*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    width: 90%;
    margin: 20px auto;
    min-width: 250px;
    max-width: 900px;
    overflow: auto;
}

nav{
    width: 95%;
    margin: auto;
    height: 50px;    
}
nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    gap: 15px;
}

nav ul li{
    width: 150px;
    height: 50px;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #130fe4d7;
    height: 100%;
    width: 100%;
    color: rgb(49, 49, 49);
    transition: font-size 0.1s, border 0.2s;
    -webkit-transition: font-size 0.1s, border 0.2s;
    -moz-transition: font-size 0.1s, border 0.2s;
    -ms-transition: font-size 0.1s, border 0.2s;
    -o-transition: font-size 0.1s, border 0.2s;
}
nav ul li a:hover{
    
    border: 1px solid red;
    font-size: 18px;
}
nav ul li a:active{
    border: 1px solid red;
    font-size: 18px;
    transform: scale(95%);
    -webkit-transform: scale(95%);
    -moz-transform: scale(95%);
    -ms-transform: scale(95%);
    -o-transform: scale(95%);
}
h2{
    text-align: center;
    font-size: 38px;
    color: #130fe4d7;

}

table{
    margin: auto;
    width: 95%;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.87);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-spacing: 0;

}
table thead th{
    font-size: 23px;
    color: #130fe4d7;
    border: 1px solid rgba(255, 0, 0, 0.87);

    background-color: #f0f8ff;
}
table > tbody tr td img{
    vertical-align: middle;
    width: 100%;

}
table tr{
    height: 110px;
}
table tr:nth-child(odd){
    background-color: #babcbe;
}
table tr:nth-child(even){
    background-color: #fff0f0;
}
table td{
    border: 1px solid rgba(255, 0, 0, 0.87);
    width: 33%;


}

table td:first-child{
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
}
table td:nth-child(n+2){
    text-align: center;
}

form{
    width: 50%;
    min-width: 200px;
    border: 1px solid #130fe4d7;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

label{
    display: flex;
    width: 90%;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}
label input{
    flex-basis: 60%;
    height: 30px;
    border: 1px solid #130fe4d7
}
form > input {
    width: 150px;
    background-color: #130fe4d7;
    height: 50px;
    font-weight: 600;
    color: greenyellow;
    border: 1px solid red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}