<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head.ejs"); %> 
    </head>
    <body class="container">
        
        <main>
            <%- include("../partials/header.ejs"); %>
            <h2>Ingreso de Productos </h2>
            <%- include("../partials/forms.ejs"); %>
        </main>

        <script src="/static/index.js"></script>
    </body>
</html>